{% extends 'master.html' %}
{% load static%}
{% load globalfunctions %}

{% block content %}
<body>


<!-- Page Breadcrumb Area
============================================ -->
<div class="page-breadcrumb bg-off-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumbs">
					<li><a href="{% url 'home' %}">home</a></li>
					<li><span>about us</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- About Page
============================================ -->
<div class="about-page bg-off-white fix">

	<div class="about-us-area margin-bottom-90">

		<div class="container">
			<div class="row">
				<div class="about-content col-md-6 col-xs-12">
					<h2>ABOUT US</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat enim ad minim veniam, quis nostrud exercita.</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
				</div>
				<div class="about-image col-md-6 col-xs-12"><img src="{% static 'img/team/q.jpg' %}" alt="" /></div>
			</div>
		</div>

	</div>

	<div class="team-area margin-bottom-90">
		<div class="container">
			<div class="row">
				<!-- Section Title -->
				<div class="section-title col-xs-12 text-center"><h1>our team member</h1></div>
				{% for memberById in memberById %}
				<div class="sin-team col-md-3 col-sm-6 col-xs-12">

					<div class="team-wrap">
						<div class="team-image"><img style="width: 350px; height: 300px" src="{{ memberById.img.url }}" alt="" /></div>
						<div class="team-details">
							<h3>{{ memberById.team_name }}</h3>
							<h4>{{ memberById.manager }}</h4>
							<p>{{ memberById.detail }}</p>
							<div class="team-social">
								<a class="facebook" href="{{ memberById.facebook }}"><i class="zmdi zmdi-facebook"></i></a>
								<a class="twitter" href="{{ memberById.twitter }}"><i class="zmdi zmdi-twitter"></i></a>
								<a class="vimeo" href="{{ memberById.vimeo }}"><i class="zmdi zmdi-vimeo"></i></a>
								<a class="tumblr" href="{{ memberById.tumblr }}"><i class="zmdi zmdi-tumblr"></i></a>
								<a class="pinterest" href="{{ memberById.pinterest }}"><i class="zmdi zmdi-pinterest"></i></a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Brand Area
============================================ -->
<div class="brand-area" style="position: static; background-image: url({% static 'img/b3.jpg'%})">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="brand-slider">
					{% for brands in brands %}
					<div class="sin-brand"><img src="{{ brands.brandslogo.url }}" alt="" /></div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

</body>
{% endblock %}