{% extends 'master.html' %}
{% load static%}
{% block content %}
<html class="no-js" lang="en">

<body>



<!-- Contact Page
============================================ -->
<div class="contact-page bg-off-white padding-bottom-90 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 margin-bottom-90">
				<div id="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12497.886177041508!2d27.1766507!3d38.4536737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb16364e47894b32f!2sFolkart%20Towers!5e0!3m2!1str!2str!4v1607456649536!5m2!1str!2str" width="1150" height="420" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
			</div>
			<div class="contact-form col-md-5 col-sm-6 col-xs-12">
				<h2>contact form</h2>
				<form action="mail.php">
					<div class="input-box transparent"><input type="text" name="name" placeholder="Name*"></div>
					<div class="input-box transparent"><input type="text" name="email" placeholder="Email*"></div>
					<div class="input-box transparent"><input type="text" name="subject" placeholder="Subject"></div>
					<div class="input-box transparent"><textarea placeholder="Message" name="message"></textarea></div>
					<div class="input-box submit-box width-full"><input type="submit" value="send" class="button large"></div>
				</form>
			</div>
			<div class="contact-info col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
				{% for seyirci in seyirci %}
				<h2>contact info</h2>
				<div class="contact-info-wrap">
					<div class="sin-contact-info fix">
						<div class="icon"><i class="zmdi zmdi-pin"></i></div>
						<p>{{ seyirci.location}}<br />{{ seyirci.countrylocation}}</p>
					</div>
					<div class="sin-contact-info fix">
						<div class="icon"><i class="zmdi zmdi-phone-in-talk"></i></div>
						<p>Phone : {{ seyirci.phone}}</p>
						<p>Fax : {{ seyirci.fax}}</p>
					</div>
					<div class="sin-contact-info fix">
						<div class="icon"><i class="zmdi zmdi-email"></i></div>
						<a href="#">{{ seyirci.email1}}</a><br>
						<a href="#">{{ seyirci.email2}}</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Brand Area
============================================ -->

<div class="brand-area " style="position: static; background-image: url({% static 'img/b3.jpg'%})">
	{% for product in products %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="brand-slider">
					<div class="sin-brand"><img src="{% static 'img/brands/1.png' %}" alt="" /></div>
					<div class="sin-brand"><img src="{% static 'img/brands/2.png' %}" alt="" /></div>
					<div class="sin-brand"><img src="{% static 'img/brands/3.png' %}" alt="" /></div>
					<div class="sin-brand"><img src="{% static 'img/brands/4.png' %}" alt="" /></div>
					<div class="sin-brand"><img src="{% static 'img/brands/5.png' %}" alt="" /></div>
					<div class="sin-brand"><img src="{% static 'img/brands/6.png' %}" alt="" /></div>
					<div class="sin-brand"><img src="{% static 'img/brands/7.png' %}" alt="" /></div>
					<div class="sin-brand"><img src="{% static 'img/brands/8.png' %}" alt="" /></div>
					<div class="sin-brand"><img src="{% static 'img/brands/9.png' %}" alt="" /></div>
					<div class="sin-brand"><img src="{% static 'img/brands/10.png' %}" alt="" /></div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>




{% endblock %}