{% extends 'master.html' %}
{% load static %}
{% load globalfunctions %}
{% block content %}

<!-- Home Slider
============================================ -->
<div class="slider-wrap">

		<div id="mainSlider" style="filter: brightness(50%);"  class="nivoSlider slider-image">
			{% for slide in sliders %}
				<img src="{{ slide.picture.url }}" alt="main slider" />

			{% endfor %}
		</div>

		{% for slide in sliders %}
			<div id="{{ slide.title1 }}" class="nivo-html-caption">
				<div class="slide-text-left text-white slide-text">
					<div class="middle-text text-center">
						<h2 class="cap-sub-title wow fadeInDown" data-wow-duration=".9s" data-wow-delay="0.8s">{{ slide.title1 }}</h2>
						<h1 class="cap-title wow fadeInRight" data-wow-duration=".9s" data-wow-delay="1.5s">{{ slide.title2 }}</h1>
						<p class="cap-dec wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="2.2s">{{ slide.title3 }}</p>
						<a href="#" class="cap-readmore button color white-hover wow fadeInUp" data-wow-duration="0.9s" data-wow-delay="3s">Shop Now</a>
					</div>
				</div>
			</div>
		{% endfor %}



</div>
<div class="main-content-wrapper">
<!-- Banner Add Area
============================================ -->
<div class="banner-add-area margin-bottom-90">
	<div class="container">
		<div class="row">
			<!-- Single Banner Style 1 -->
			<div class="sin-banner banner-style-1 col-sm-4 col-xs-12">
				<a href="#" class="banner-wrap">
					<img src="{% static 'img/banner/banner-1.jpg' %}" alt="" />
					<div class="banner-bref banner-bref-1 text-center">
						<h1>watches<br />collection</h1>
					</div>
				</a>
			</div>
			<!-- Single Banner Style 2 -->
			<div class="sin-banner banner-style-2 col-sm-8 col-xs-12">
				<div class="banner-wrap">
					<img src="{% static 'img/banner/banner-2.jpg' %}" alt="" />
					<div class="banner-bref banner-bref-2 text-left">
						<h1>60% off for<br />men Collection</h1>
						<a href="#" class="button color white-hover animated fadeOutDown">view more</a>
					</div>
				</div>
			</div>
			<!-- Single Banner Style 2 -->
			<div class="sin-banner banner-style-2 col-sm-8 col-xs-12">
				<div class="banner-wrap">
					<img src="{% static 'img/banner/banner-3.jpg' %}" alt="" />
					<div class="banner-bref banner-bref-2 text-right">
						<h1>30% off for<br />Glasses Collection</h1>
						<a href="#" class="button color white-hover animated fadeOutDown">view more</a>
					</div>
				</div>
			</div>
			<!-- Single Banner Style 1 -->
			<div class="sin-banner banner-style-1 col-sm-4 col-xs-12">
				<a href="#" class="banner-wrap">
					<img src="{% static 'img/banner/banner-4.jpg' %}" alt="" />
					<div class="banner-bref banner-bref-1 text-center">
						<h1>Latest<br />backpack</h1>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- Latest Product Area
============================================ -->
<div class="latest-product-area tab-product-area margin-bottom-25">
	<div class="container">
		<div class="row">
			<!-- Section Title -->
			<div class="section-title col-xs-12 text-center"><h1>latest products</h1></div>
			<div class="col-xs-12">
				<!-- Product Tab List -->
				<div class="pro-tab-list text-center fix">
					<ul>
						{% for category in categories %}

							<li {% if forloop.first %} class="active" {% endif %}><a href="#{{ category }}" data-toggle="tab">{{ category }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<!-- Product Tab Content -->
				<div class="pro-tab-content tab-content row">
					<!-- Product Tab -->
					{% for category in categories %}
						<div class="pro-tab tab-pane active" id="{{ category }}">
							<!-- Single Product -->
							{% for product in products %}

								{% if category in product.category %}
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
									<div class="sin-pro">
										<!-- Product Image -->

										<div class="sin-pro-img-action fix">
											<a href="{% url 'product_details' product.id %}" class="sin-pro-img"><img style="width: 262px; height: 350px" {% if product.picture %} src="{{ product.picture.url }}"{% else %} src="#" {% endif %} alt=""/></a>
											<a href="{% url 'product_details' product.id %}" class="pro-quick-view" data-toggle="modal"><i class="zmdi zmdi-plus-circle-o"></i></a>
											<!-- Product Action -->
											<div class="sin-pro-action">
												<button class="pro-act-btn btn-icon"><i class="zmdi zmdi-refresh"></i></button>
												<button class="pro-act-btn btn-text">add to bag</button>
												<button class="pro-act-btn btn-icon"><i class="zmdi zmdi-favorite-outline"></i></button>
											</div>
										</div>
										<!-- Product Details -->
										<div class="sin-pro-details fix">
											<a class="sin-pro-title" href="#">{{ product.name }}</a>
											<!-- Product Price -->
											<div class="sin-pro-price float-left">
												<span class="new">{{ product.price }} {{ product.currency }}</span>
											</div>
											<!-- Product Ratting -->
											<div class="sin-pro-ratting float-right">
												<div class="rattings float-left">
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star"></i>
													<i class="zmdi zmdi-star-half"></i>
												</div>
												<span>(23)</span>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}


				</div>
			</div>
		</div>
	</div>
</div>
<!-- Special Offer Area
============================================ -->

<!-- Feature Product Area
============================================ -->
<div class="feature-product-area margin-bottom-90">
	<div class="container">
		<div class="row">
			<!-- Section Title -->
			<div class="section-title col-xs-12 text-center"><h1>kadın son eklenen urun</h1></div>
			<div class="col-xs-12">
				<!-- Product Slider -->

				<div class="product-slider feature-slider">
					{% for product in kadinList %}
						{% lastDayAdded product %}
						<div class="sin-pro">
							<!-- Product Image -->
							<div class="sin-pro-img-action fix">
								<a href="#" class="sin-pro-img"><img style="width: 262px; height: 350px" {% if product.picture %} src="{{ product.picture.url }}"{% else %} src="{% static 'img/no-image.png' %}" {% endif %}  alt="" /></a>
								{% if forloop.first %}<span class="pro-label label-new">new</span>{% endif %}
								{% if sonGun %}<span class="pro-label label-new" style="padding-top: 20px">son 1 gunde</span>{% endif %}
								<a href="#" class="pro-quick-view" data-toggle="modal"><i class="zmdi zmdi-plus-circle-o"></i></a>
								<!-- Product Action -->
								<div class="sin-pro-action">
									<button class="pro-act-btn btn-icon"><i class="zmdi zmdi-refresh"></i></button>
									<button class="pro-act-btn btn-text">add to bag</button>
									<button class="pro-act-btn btn-icon"><i class="zmdi zmdi-favorite-outline"></i></button>
								</div>
							</div>
							<!-- Product Details -->
							<div class="sin-pro-details fix">
								<a class="sin-pro-title" href="#">{{product.name}}</a>
								<!-- Product Price -->
								<div class="sin-pro-price float-left">
									<span class="new">{{product.price}} {{product.currency}}</span>
								</div>
								<!-- Product Ratting -->
								<div class="sin-pro-ratting float-right">
									<div class="rattings float-left">
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star-half"></i>
									</div>
									<span>(23)</span>
								</div>
							</div>
						</div>
					{%endfor%}



				</div>
			</div>
		</div>
	</div>
</div>


<div class="feature-product-area margin-bottom-90">
	<div class="container">
		<div class="row">
			<!-- Section Title -->
			<div class="section-title col-xs-12 text-center"><h1>Erkek son eklenen urun</h1></div>
			<div class="col-xs-12">
				<!-- Product Slider -->

				<div class="product-slider feature-slider">
					{% for product in erkekList %}
						{% lastDayAdded product %}
						<div class="sin-pro">
							<!-- Product Image -->
							<div class="sin-pro-img-action fix">
								<a href="{% url 'product_details' product.id %}" class="sin-pro-img"><img style="width: 262px; height: 350px" {% if product.picture %} src="{{ product.picture.url }}"{% else %} src="{% static 'img/no-image.png' %}" {% endif %}  alt="" /></a>
								{% if forloop.first %}<span class="pro-label label-new">new</span>{% endif %}
								{% if sonGun %}<span class="pro-label label-new" style="padding-top: 20px">son 1 gunde</span>{% endif %}
								<a href="#" class="pro-quick-view" data-toggle="modal"><i class="zmdi zmdi-plus-circle-o"></i></a>
								<!-- Product Action -->
								<div class="sin-pro-action">
									<button class="pro-act-btn btn-icon"><i class="zmdi zmdi-refresh"></i></button>
									<button class="pro-act-btn btn-text">add to bag</button>
									<button class="pro-act-btn btn-icon"><i class="zmdi zmdi-favorite-outline"></i></button>
								</div>
							</div>
							<!-- Product Details -->
							<div class="sin-pro-details fix">
								<a class="sin-pro-title" href="#">{{product.name}}</a>
								<!-- Product Price -->
								<div class="sin-pro-price float-left">
									<span class="new">{{product.price}} {{product.currency}}</span>
								</div>
								<!-- Product Ratting -->
								<div class="sin-pro-ratting float-right">
									<div class="rattings float-left">
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star-half"></i>
									</div>
									<span>(23)</span>
								</div>
							</div>
						</div>
					{%endfor%}



				</div>
			</div>
		</div>
	</div>
</div>


<div class="feature-product-area margin-bottom-90">
	<div class="container">
		<div class="row">
			<!-- Section Title -->
			<div class="section-title col-xs-12 text-center"><h1>Aksesuar son eklenen urun</h1></div>
			<div class="col-xs-12">
				<!-- Product Slider -->

				<div class="product-slider feature-slider">
					{% for product in aksesuarList %}
						{% lastDayAdded product %}
						<div class="sin-pro">
							<!-- Product Image -->
							<div class="sin-pro-img-action fix">
								<a href="#" class="sin-pro-img"><img style="width: 262px; height: 350px" {% if product.picture %} src="{{ product.picture.url }}"{% else %} src="{% static 'img/no-image.png' %}" {% endif %}  alt="" /></a>
								{% if forloop.first %}<span class="pro-label label-new">new</span>{% endif %}
								{% if sonGun %}<span class="pro-label label-new" style="padding-top: 20px">son 1 gunde</span>{% endif %}
								<a href="#" class="pro-quick-view" data-toggle="modal"><i class="zmdi zmdi-plus-circle-o"></i></a>
								<!-- Product Action -->
								<div class="sin-pro-action">
									<button class="pro-act-btn btn-icon"><i class="zmdi zmdi-refresh"></i></button>
									<button class="pro-act-btn btn-text">add to bag</button>
									<button class="pro-act-btn btn-icon"><i class="zmdi zmdi-favorite-outline"></i></button>
								</div>
							</div>
							<!-- Product Details -->
							<div class="sin-pro-details fix">
								<a class="sin-pro-title" href="#">{{product.name}}</a>
								<!-- Product Price -->
								<div class="sin-pro-price float-left">
									<span class="new">{{product.price}} {{product.currency}}</span>
								</div>
								<!-- Product Ratting -->
								<div class="sin-pro-ratting float-right">
									<div class="rattings float-left">
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star"></i>
										<i class="zmdi zmdi-star-half"></i>
									</div>
									<span>(23)</span>
								</div>
							</div>
						</div>
					{%endfor%}



				</div>
			</div>
		</div>
	</div>
</div>

<!-- Blog Area
============================================ -->
<div class="blog-area bg-off-white padding-90">

	<div class="container">
		<div class="row">
			<!-- Section Title -->
			<div class="section-title col-xs-12 text-center"><h1>LATEST from blog</h1></div>

			<div class="col-xs-12">
				<!-- Product Slider -->

				<div class="blog-slider">
					<!--************************ Single blog******************* -->
					{% for products in randlist %}
					<div class="sin-blog">

						<!-- Blog Image -->
						<div class="blog-image">
							<a href="#"><img style="width: 350px; height: 370px" src="{{ products.picture.url }}" alt="" /></a>
							<!-- Blog Date -->
							<div class="blog-date text-capitalize "><p>{{products.inDate}}</p></div>
						</div>
						<!-- Blog Details -->
						<div class="blog-details">
							<!-- Blog Meta -->
							<div class="blog-meta fix">
								<p class="author float-left"><a href="#"><i class="zmdi zmdi-account"></i> designer : {{products.designedby}}</a></p>
								<p class="comment-like float-right">
									<a href="#"><i class="zmdi zmdi-comment-outline"></i> (15)</a>
									<a href="#"><i class="zmdi zmdi-favorite-outline"></i> (225)</a>
								</p>
							</div>
							<!-- Blog Title -->
							<h4 class="blog-title"><a href="#">{{products.name}}</a></h4>
							<p class="blog-meta fix"><a href="#">brand : {{products.brandsby}}</a></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmodte porincididunvt...</p>
							<a class="read-more" href="#">Continue Reading</a>
						</div>

					</div>
					{% endfor %}
				<!--***********************Single blog************************* -->

				</div>


			</div>



		</div>
	</div>

</div>
<!-- Shipping Service Area
============================================ -->
<!-- Shipping Service Area
============================================ -->
<div class="shipping-service-area">
	<div class="container-fluid">
		<div class="row">
			<!-- Single Service -->
			<div class="sin-service col-lg-3 col-sm-6 col-xs-12">
				<!-- Service Icon -->
				<div class="icon text-center"><i class="zmdi zmdi-car"></i></div>
				<!-- Service Content -->
				<div class="content fix">
					<h3>free shipping</h3>
					<p>Lorem ipsum dummy text goes here</p>
				</div>
			</div>
			<!-- Single Service -->
			<div class="sin-service col-lg-3 col-sm-6 col-xs-12">
				<!-- Service Icon -->
				<div class="icon text-center"><i class="zmdi zmdi-balance-wallet"></i></div>
				<!-- Service Content -->
				<div class="content fix">
					<h3>money back guarantee</h3>
					<p>Lorem ipsum dummy text goes here</p>
				</div>
			</div>
			<!-- Single Service -->
			<div class="sin-service col-lg-3 col-sm-6 col-xs-12">
				<!-- Service Icon -->
				<div class="icon text-center"><i class="zmdi zmdi-shield-security"></i></div>
				<!-- Service Content -->
				<div class="content fix">
					<h3>safe shopping</h3>
					<p>Lorem ipsum dummy text goes here</p>
				</div>
			</div>
			<!-- Single Service -->
			<div class="sin-service col-lg-3 col-sm-6 col-xs-12">
				<!-- Service Icon -->
				<div class="icon text-center"><i class="zmdi zmdi-headset-mic"></i></div>
				<!-- Service Content -->
				<div class="content fix">
					<h3>online support</h3>
					<p>Lorem ipsum dummy text goes here</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer Top Area
============================================ -->
</div>
{% endblock %}
