{% load static %}


<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Home One || XOSS</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<!-- css  -->
	<!-- Bootstrap CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- Icon Font CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">
	<!-- Mean Menu CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- Owl Carousel CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- Nivo Slider CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/nivo-slider.css' %}">
	<!-- Price Slider CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
	<!-- Magnific Popup CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- Animate CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<!-- Color Switcher CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/color-switcher.css' %}">
	<!-- Style CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<!-- Default Color CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<!-- Responsive CSS
	============================================ -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<!-- Modernizer JS
	============================================ -->
	<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

	<!-- Color Css Files Start -->
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-one.css' %}" title="color-one" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-two.css' %}" title="color-two" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-three.css' %}" title="color-three" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-four.css' %}" title="color-four" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-five.css' %}" title="color-five" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-six.css' %}" title="color-six" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-seven.css' %}" title="color-seven" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-eight.css' %}" title="color-eight" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-nine.css' %}" title="color-nine" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-ten.css' %}" title="color-ten" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/color-ten.css' %}" title="color-ten" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren1.css' %}" title="pattren1" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren2.css' %}" title="pattren2" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren3.css' %}" title="pattren3" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren4.css' %}" title="pattren4" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/pattren5.css' %}" title="pattren5" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background1.css' %}" title="background1" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background2.css' %}" title="background2" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background3.css' %}" title="background3" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background4.css' %}" title="background4" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'switcher/background5.css' %}" title="background5" media="screen" />
    <!-- Color Css Files End -->
</head>

{% include 'navbar.html' %}

{% block content %}
{% endblock %}


{% include 'footer.html' %}
</html>

<!-- jQuery JS
============================================ -->
<script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
<!-- Bootstrap JS
============================================ -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Nivo Slider JS
============================================ -->
<script src="{% static 'js/jquery.nivo.slider.pack.js' %}"></script>
<!-- Mean Menu JS
============================================ -->
<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
<!-- Owl Carousel JS
============================================ -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Count Down JS
============================================ -->
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<!-- ScrollUP JS
============================================ -->
<script src="{% static 'js/jquery.scrollup.min.js' %}"></script>
<!-- TreeView JS
============================================ -->
<script src="{% static 'js/jquery.treeview.js' %}"></script>
<!-- Price Slider JS
============================================ -->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- simpleLens JS
============================================ -->
<script src="{% static 'js/jquery.elevateZoom-3.0.8.min.js' %}"></script>
<!-- Magnific Popup JS
============================================ -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Nice Scroll JS
============================================ -->
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<!-- ajaxchimp JS
============================================ -->
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<!-- WOW JS
============================================ -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
	new WOW().init();
</script>
<!-- Main JS
============================================ -->
<script src="{% static 'js/styleswitch.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>